In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import datetime

%matplotlib inline

In [3]:
df = pd.read_csv("sf18_weathermerged.csv")

df.head()

,Unnamed: 0,starttime_weather,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,...,Date_e,Weekday_e,Hour_e,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,max_temp,min_temp,precip
0,0,2018-01-31 22:00:00,2018-01-31 22:52:36,2018-02-01 19:47:20,120,285,Mission Dolores Park,Webster St at O'Farrell St,2765,Subscriber,...,2018-02-01,3,19,37.761420,-122.426435,37.783521,-122.431158,16.7,16.7,0.0
1,1,2018-01-31 22:00:00,2018-01-31 22:58:45,2018-02-01 00:46:42,236,160,Market St at 8th St,West Oakland BART Station,1306,Customer,...,2018-02-01,3,0,37.803686,-122.282497,37.805318,-122.294837,16.7,16.7,0.0
2,2,2018-01-31 22:00:00,2018-01-31 22:53:42,2018-01-31 23:08:22,123,145,Folsom St at 19th St,29th St at Church St,3725,Subscriber,...,2018-01-31,2,23,37.760594,-122.414817,37.743684,-122.426806,16.7,16.7,0.0
3,3,2018-01-31 22:00:00,2018-01-31 22:45:38,2018-01-31 23:05:48,285,133,Webster St at O'Farrell St,Valencia St at 22nd St,1059,Subscriber,...,2018-01-31,2,23,37.783521,-122.431158,37.755213,-122.420975,16.7,16.7,0.0
4,4,2018-01-31 22:00:00,2018-01-31 22:53:28,2018-01-31 23:03:21,202,195,Washington St at 8th St,Bay Pl at Vernon St,1834,Customer,...,2018-01-31,2,23,37.800754,-122.274894,37.812314,-122.260779,16.7,16.7,0.0

In [4]:
df.drop(['Unnamed: 0'], axis = 1, inplace= True)
df.head()

,starttime_weather,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,duration [s],...,Date_e,Weekday_e,Hour_e,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,max_temp,min_temp,precip
0,2018-01-31 22:00:00,2018-01-31 22:52:36,2018-02-01 19:47:20,120,285,Mission Dolores Park,Webster St at O'Farrell St,2765,Subscriber,75284.0,...,2018-02-01,3,19,37.761420,-122.426435,37.783521,-122.431158,16.7,16.7,0.0
1,2018-01-31 22:00:00,2018-01-31 22:58:45,2018-02-01 00:46:42,236,160,Market St at 8th St,West Oakland BART Station,1306,Customer,6477.0,...,2018-02-01,3,0,37.803686,-122.282497,37.805318,-122.294837,16.7,16.7,0.0
2,2018-01-31 22:00:00,2018-01-31 22:53:42,2018-01-31 23:08:22,123,145,Folsom St at 19th St,29th St at Church St,3725,Subscriber,880.0,...,2018-01-31,2,23,37.760594,-122.414817,37.743684,-122.426806,16.7,16.7,0.0
3,2018-01-31 22:00:00,2018-01-31 22:45:38,2018-01-31 23:05:48,285,133,Webster St at O'Farrell St,Valencia St at 22nd St,1059,Subscriber,1210.0,...,2018-01-31,2,23,37.783521,-122.431158,37.755213,-122.420975,16.7,16.7,0.0
4,2018-01-31 22:00:00,2018-01-31 22:53:28,2018-01-31 23:03:21,202,195,Washington St at 8th St,Bay Pl at Vernon St,1834,Customer,593.0,...,2018-01-31,2,23,37.800754,-122.274894,37.812314,-122.260779,16.7,16.7,0.0

In [5]:
df["starttime_weather"] = pd.to_datetime(df["starttime_weather"], format='%Y-%m-%d %H:%M:%S')
df["month"] = df["starttime_weather"].apply(lambda x: x.month)
df.head()

,starttime_weather,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,duration [s],...,Weekday_e,Hour_e,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,max_temp,min_temp,precip,month
0,2018-01-31 22:00:00,2018-01-31 22:52:36,2018-02-01 19:47:20,120,285,Mission Dolores Park,Webster St at O'Farrell St,2765,Subscriber,75284.0,...,3,19,37.761420,-122.426435,37.783521,-122.431158,16.7,16.7,0.0,1
1,2018-01-31 22:00:00,2018-01-31 22:58:45,2018-02-01 00:46:42,236,160,Market St at 8th St,West Oakland BART Station,1306,Customer,6477.0,...,3,0,37.803686,-122.282497,37.805318,-122.294837,16.7,16.7,0.0,1
2,2018-01-31 22:00:00,2018-01-31 22:53:42,2018-01-31 23:08:22,123,145,Folsom St at 19th St,29th St at Church St,3725,Subscriber,880.0,...,2,23,37.760594,-122.414817,37.743684,-122.426806,16.7,16.7,0.0,1
3,2018-01-31 22:00:00,2018-01-31 22:45:38,2018-01-31 23:05:48,285,133,Webster St at O'Farrell St,Valencia St at 22nd St,1059,Subscriber,1210.0,...,2,23,37.783521,-122.431158,37.755213,-122.420975,16.7,16.7,0.0,1
4,2018-01-31 22:00:00,2018-01-31 22:53:28,2018-01-31 23:03:21,202,195,Washington St at 8th St,Bay Pl at Vernon St,1834,Customer,593.0,...,2,23,37.800754,-122.274894,37.812314,-122.260779,16.7,16.7,0.0,1

In [7]:
# limit to summer month
df_summer = df[(df["month"] > 5) & (df["month"] < 9)]

In [8]:
X = df_summer["max_temp"].values.reshape((-1,1)) # if we pass a 1-feature array we need to re-shape it!
y = df_summer["MAX"]

KeyError: 'MAX'