In [36]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import json

In [37]:
from  folium.plugins import HeatMap
dataset = pd.read_csv("sf18_count_location.csv")

In [38]:
dataset.count()

Unnamed: 0                 332
station_name               332
counts for station_name    332
lat                        332
lng                        332
dtype: int64

In [39]:
dataset.head()

,Unnamed: 0,station_name,counts for station_name,lat,lng
0,0,San Francisco Caltrain Station 2 (Townsend St...,86598,37.776639,-122.395526
1,1,San Francisco Ferry Building (Harry Bridges Pl...,82258,37.795392,-122.394203
2,2,San Francisco Caltrain (Townsend St at 4th St),76478,37.776598,-122.395282
3,3,The Embarcadero at Sansome St,72114,37.804770,-122.403234
4,4,Market St at 10th St,69059,37.776619,-122.417385

In [40]:
data = dataset[['lat', 'lng', 'counts for station_name']].values.tolist()
hmap = folium.Map(location=[37.4700, -122.2500], tiles='stamentoner',
                  control_scale=True, zoom_start=10)
hmap.add_child(HeatMap(data))
file_path = r"test1.html"
hmap.save(file_path)  # save the map as html file