In [3]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import math
import random

sf18 = pd.read_csv("sf18_cleaned.csv")

In [5]:
sf18.head()

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,duration [s],Date_s,Weekday_s,Hour_s,Date_e,Weekday_e,Hour_e,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude
0,0,2018-01-31 22:52:36,2018-02-01 19:47:20,120,285,Mission Dolores Park,Webster St at O'Farrell St,2765,Subscriber,75284.0,2018-01-31,2,22,2018-02-01,3,19,37.761420,-122.426435,37.783521,-122.431158
1,1,2018-01-31 16:13:35,2018-02-01 15:57:18,15,15,San Francisco Ferry Building (Harry Bridges Pl...,San Francisco Ferry Building (Harry Bridges Pl...,2815,Customer,85423.0,2018-01-31,2,16,2018-02-01,3,15,37.795392,-122.394203,37.795392,-122.394203
2,2,2018-01-31 14:23:56,2018-02-01 10:16:53,304,296,Jackson St at 5th St,5th St at Virginia St,3039,Customer,71577.0,2018-01-31,2,14,2018-02-01,3,10,37.348759,-121.894798,37.325998,-121.877120
3,3,2018-01-31 14:53:24,2018-02-01 07:51:21,75,47,Market St at Franklin St,4th St at Harrison St,321,Customer,61077.0,2018-01-31,2,14,2018-02-01,3,7,37.773793,-122.421239,37.780955,-122.399749
4,4,2018-01-31 19:52:25,2018-02-01 06:58:32,74,19,Laguna St at Hayes St,Post St at Kearny St,617,Subscriber,39967.0,2018-01-31,2,19,2018-02-01,3,6,37.776435,-122.426244,37.788975,-122.403452

In [7]:
sf18['month'] = pd.DatetimeIndex(sf18['start_time']).month

In [10]:
ratio_customers = sf18.groupby(['month']).month.count().reset_index(name = "hour_start_frequency")